@(message: String, style: String = "scala")
@defining(play.core.PlayVersion.current) { version =>

<section id="top">
  <div class="wrapper">
    <h1>
      <a href="https://playframework.com/documentation/@version/Home"
        >@message</a
      >
    </h1>
  </div>
</section>

<div id="content" class="wrapper doc">
  <article>
    <h2>Documentation</h2>
    <a href="https://github.com/jordanhilado/cinema-world"
      >https://github.com/jordanhilado/cinema-world</a
    >
    <div>
      <h3 id="endpoints">Endpoints</h3>
      <table>
        <thead>
          <tr>
            <th>Method</th>
            <th>Endpoint</th>
            <th>Controller</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GET</td>
            <td>/movies</td>
            <td><code>movies</code></td>
            <td>Returns all the movies</td>
          </tr>
          <tr>
            <td>GET</td>
            <td>/showtimes</td>
            <td><code>showtimes</code></td>
            <td>Returns all the showtimes</td>
          </tr>
          <tr>
            <td>GET</td>
            <td>/movie</td>
            <td><code>movie(movie_id: Int)</code></td>
            <td>Returns movie details given a <code>movie_id</code></td>
          </tr>
          <tr>
            <td>GET</td>
            <td>/setup</td>
            <td><code>setup</code></td>
            <td>
              Initializes the <code>movies</code>, <code>showtimes</code>, and
              <code>reservations</code> tables
            </td>
          </tr>
          <tr>
            <td>POST</td>
            <td>/reserve</td>
            <td>
              <code
                >reserve(showtime_id: Int, name: String, email: String, seats:
                Int)</code
              >
            </td>
            <td>Creates a reservation</td>
          </tr>
          <tr>
            <td>GET</td>
            <td>/cancel</td>
            <td><code>cancel(reservation_id: String)</code></td>
            <td>Cancels a reservation</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</div>
}
